 .imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 75%;
    height: 400px;

}

.imagem-carrossel-dois {
    object-fit: cover;
    height: 400px;

}

.font-estilo {
    font-family: 'Pacifico', cursive;
}

.cor_especial {
    color: darkred;
}

